.r-hover-green :hover { color: #00E676!important; }
/* Dark backgrounds */
.r-bg-main { background-color: #2b2b2b; }
.r-bg-alt { background-color: #161616; }
.r-bg-third { background-color: #242424; }
/* Color palettes */
.r-color-main { background-color: #1e88e5; }
.r-color-alt { background-color: #2196F3; }
/* Text modifications */
.r-text { color: #1e88e5!important; }
.r-text-alt { color: #2196F3!important; }
.r-text-green { color: #00E676!important; }
.r-text-white { color: white!important; }
/* Fonts */
.font-nunuito { font-family: Nunito, sans-serif; }
/* Borders */
.r-btn-outline { color: #1e88e5; border-color: #1e88e5; }
.r-border { border: 1px solid #1e88e5; }
.r-border-green { border: 1px solid #00E676; }

/* Box Model */
.r-padding-1 {
    padding: 1rem;
}
/* Globals */
ul { list-style-type: none; padding-left: 0;}

/* Extra small devices */
@media only screen and (max-width: 768px) {
    .r-content { padding-left: inherit }
}

/* Small devices */
@media only screen and (min-width: 769px) {
    .r-content { padding-left: inherit }
}

/* Medium devices */
@media only screen and (min-width: 992px) {
    .r-content { padding-left: calc(100vw - 85vw) }
}

/* Large devices */
@media only screen and (min-width: 1200px) {
    
}
